<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    
    <add name="QuanLyBanHang" connectionString="Data Source=SQL5108.site4now.net,1433;Initial Catalog=db_a7a94a_cnpmutc1;User Id=db_a7a94a_cnpmutc1_admin;Password=haupham809;" providerName="System.Data.SqlClient" />
  <!-- <add name="QuanLyBanHang" connectionString="Data Source=.;Initial Catalog=QuanLyNhaHang;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cnpmutc1-001-site1.ftempurl.com/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="BUS.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>