<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1427.0" targetFramework="net472" />
  <package id="Microsoft.ReportViewer" version="11.0.3366.16" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.2015.Runtime" version="12.0.2.2402" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net472" />
</packages>